

streamlit==1.38.0
pandas==2.3.3
plotly==5.24.1
streamlit-aggrid==0.3.4.post3
scikit-learn==1.5.1
sentence-transformers==3.0.1
torch==2.3.0
numpy==1.26.4
openai==1.35.3
faiss-cpu==1.8.0
transformers==4.42.0
